aiohttp==3.4.4
asn1crypto==0.24.0
astral==1.6.1
async-timeout==3.0.0
attrs==18.2.0
bcrypt==3.1.4
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
Django==2.1
homeassistant==0.80.3
idna==2.7
idna-ssl==1.1.0
Jinja2==2.10
MarkupSafe==1.0
multidict==4.4.2
pycparser==2.19
PyJWT==1.6.4
pytz==2018.5
PyYAML==3.13
requests==2.19.1
six==1.11.0
urllib3==1.23
voluptuous==0.11.5
voluptuous-serialize==2.0.0
wincertstore==0.2
yarl==1.2.6
