<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}IoT{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'app/css/mainpage.css' %}">

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <link href="{% static 'app/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="{% static 'app/js/jquery.barrating.min.js' %}"></script>

</head>

<body>
{% block body %}
{% endblock %}
</body>

<script src="{% static 'chlanie/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'chlanie/js/mdb.min.js' %}"></script>
<script src="{% static 'chlanie/js/popper.min.js' %}"></script>

<script>
{% block script %}
{% endblock %}

</script>


</html>
