{% extends 'app/base.html' %}

{% block body %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ flat.address }}{% if flat.host.profile.user.username == request.user.username %}<span class="badge badge-success">kod: {{flat.access_code}}</span>{%endif%}</h1>
                </div>
    </div>
Rooms:
    <div class="row">

    {% for room in rooms %}
                <div class="col-lg-3 col-md-6">
                                    {% if room.room_type == 'bathroom' %} 
                                    <div class="panel panel-green">
                                    {% elif room.room_type == 'bedroom' %}
                                    <div class="panel panel-yellow">
                                    {% elif room.room_type == 'kitchen' %}
                                    <div class="panel panel-red">
                                    {% else %}
                                    <div class="panel panel-primary">
                                    {% endif %}
                        <div class="panel-heading">
                            <div class="row">
                            <div class="col-xs-6 col-sm-4">
                            <div>
                            	<label>{{room.name.title}}</label>
                            </div>
                            	{% if room.room_type == 'bathroom' %}
                            	    <img class = "picsunder" src = "https://www.shareicon.net/data/128x128/2016/06/27/787203_bathroom_512x512.png">
                                    {% elif room.room_type == 'bedroom' %}
                                    <img class = "picsunder" src = "https://www.shareicon.net/data/128x128/2016/07/31/804850_furniture_512x512.png">
                                    {% elif room.room_type == 'kitchen' %}
                                    <img class = "picsunder" src = "https://www.shareicon.net/data/128x128/2016/08/19/816881_tea_512x512.png">
                                    {% else %}
                                    <img class = "picsunder" src = "https://www.shareicon.net/data/128x128/2016/09/21/830512_business_512x512.png">
                                    {% endif %}
                            	{% for device in room.devices %}
                            	<label>
                            	    {% if room.room_type == 'bathroom' %}
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                    {% elif room.room_type == 'bedroom' %}
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="warning">
                                    {% elif room.room_type == 'kitchen' %}
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="danger">
                                    {% else %}
                                    <input type="checkbox" checked data-toggle="toggle">
                                    {% endif %}
                                {{device.name}}</label>
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    {% endfor %}
    </div>
{% endblock %}
