{% extends 'app/base.html' %}

{% block body %}
    {% if devices %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{room.name}}</h1>
                    </div>
                    {% for device in devices %}
                    <div>{{device.name}}</div>
                    <input type="checkbox" data-toggle="toggle" data-on="Allow" data-off="Deny">
                    <div><br><div>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
{% endblock %}
